In [62]:
# Import basic libraries
import numpy as np
import pandas as pd

# Import sklearn metrics
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

# Import sklearn models
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

# Not showing warnings
import warnings
warnings.filterwarnings("ignore")

In [63]:
heart_data = pd.read_csv('heart.csv')
print(heart_data.shape)
print(heart_data.isnull().sum())

(303, 14)
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [64]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [65]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [66]:
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [67]:
X = heart_data.drop(columns='target', axis = 1) 
y = heart_data['target']

In [68]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [69]:
print(y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [70]:
X = np.asarray(X)
y = np.asarray(y)

### Compare each models

In [71]:
models = [LogisticRegression(), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [72]:
def compare_crossVal_models():
    for model in models:
        cv_score = cross_val_score(model, X, y, cv = 5)
        mean_accuracy = round(100*(sum(cv_score)/len(cv_score)),2)
        print(f'Cross validation score for {model}: {cv_score}')
        print(f'Mean Accuracy for {model}: {mean_accuracy}\n')

In [73]:
compare_crossVal_models()

Cross validation score for LogisticRegression(): [0.81967213 0.86885246 0.85245902 0.85       0.75      ]
Mean Accuracy for LogisticRegression(): 82.82

Cross validation score for SVC(kernel='linear'): [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Mean Accuracy for SVC(kernel='linear'): 82.83

Cross validation score for KNeighborsClassifier(): [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Mean Accuracy for KNeighborsClassifier(): 64.39

Cross validation score for RandomForestClassifier(): [0.85245902 0.86885246 0.7704918  0.81666667 0.78333333]
Mean Accuracy for RandomForestClassifier(): 81.84

In [74]:
models = [LogisticRegression(), SVC(), KNeighborsClassifier(), RandomForestClassifier()]

In [75]:
model_hyperparameters = {

    'log_reg_hyperparameters': {
        
        'C' : [1, 5, 10, 20]
    
    },

    'svc_hyperparameters': {
        
        'kernel' : ['linear', 'poly', 'rbf','sigmoid'],
        'C' : [1, 5, 10, 20]
    
    },

    'KNN_hyperparameters': {

        'n_neighbors' : [3, 5, 10]

    },

    'random_forest_hyperparameters' : {
        
        'n_estimators' : [10, 20, 50, 100]
    
    }
}

In [76]:
print(model_hyperparameters.keys())
print(type(model_hyperparameters))

dict_keys(['log_reg_hyperparameters', 'svc_hyperparameters', 'KNN_hyperparameters', 'random_forest_hyperparameters'])
<class 'dict'>

In [77]:
for param in model_hyperparameters:
    print(param)
    print(model_hyperparameters[param],'\n')

log_reg_hyperparameters
{'C': [1, 5, 10, 20]}

svc_hyperparameters
{'kernel': ['linear', 'poly', 'rbf', 'sigmoid'], 'C': [1, 5, 10, 20]}

KNN_hyperparameters
{'n_neighbors': [3, 5, 10]}

random_forest_hyperparameters
{'n_estimators': [10, 20, 50, 100]}

In [78]:
model_keys = list(model_hyperparameters.keys())
print(model_keys)

['log_reg_hyperparameters', 'svc_hyperparameters', 'KNN_hyperparameters', 'random_forest_hyperparameters']

In [81]:
def ModelSelection(models, model_hyperparameters):

    results = []
    i = 0

    for model in models:

        key = model_keys[i]
        param = model_hyperparameters[key]

        i += 1
        
        print(model)
        print(param)
        print(10*'=')

        classifier = GridSearchCV(model, param)
        classifier.fit(X, y)

        results.append({
            'Model' : model,
            'Top score' : classifier.best_score_,
            'Best hyperparameters' : classifier.best_params_
        })

    result_df = pd.DataFrame(results, columns=['Model', 'Top score', 'Best hyperparameters'])

    return result_df

In [82]:
ModelSelection(models, model_hyperparameters)

LogisticRegression()
{'C': [1, 5, 10, 20]}
==========
SVC()
{'kernel': ['linear', 'poly', 'rbf', 'sigmoid'], 'C': [1, 5, 10, 20]}
==========
KNeighborsClassifier()
{'n_neighbors': [3, 5, 10]}
==========
RandomForestClassifier()
{'n_estimators': [10, 20, 50, 100]}
==========

                      Model  Top score          Best hyperparameters
0      LogisticRegression()   0.831421                      {'C': 5}
1                     SVC()   0.828306  {'C': 1, 'kernel': 'linear'}
2    KNeighborsClassifier()   0.643880            {'n_neighbors': 5}
3  RandomForestClassifier()   0.818197         {'n_estimators': 100}